html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 300;
}

body {
  background-color: #f2f2f2;
  color: #3c3c3c;
  font-family: Roboto, serif;
  font-weight: 400;
}

#wrapper {
  width: 80%;
  max-width: 70em;
  margin: 4em auto;
  padding: 4.5em;
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5em;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5em;*/
  /*background: #f2f2f2;*/
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

h1, h2, h3, h4 {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-family: Roboto Slab, sans-serif;
}

h1 {
  font-size: 4.8em;
  margin-top: 300px;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 2.2em;
}

p, hr {
  margin-bottom: 2em;
  font-size: 1.7em;
}

a {
  color: #3c3c3c;
  text-decoration: none;
  font-family: Roboto Slab, sans-serif;
  font-weight: 700;
  transition: color .2s;
}

a:hover, a:focus {
  color: #BFBFBF;
}

a:active {
  color: #2d2d2d;
}

/* Sexiest gosh-dang line you'll ever see. */
hr {
  border: none;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #FFF;
}

/* Inspiration Block, top of index pg */

.images {
  width: 100%;
  z-index: -100;
  position: absolute;
  top: 0;
}

.inspire-block {
  position: relative;
}

.quote {
  font-family: Roboto Slab, sans-serif;
  font-size: 5em;
  text-align: center;
  font-weight: 100;
  color: #FFF;
  margin-bottom: 0;
  line-height: 2em;
}

.quote.punchline {
  font-weight: 400;
  font-size: 5.5em;
}

.quote.credit {
  font-weight: 400;
  font-size: 3em;
}

.subtitle {
  font-weight: 100;
  margin-top: -10px;
}

.section-title {
  margin-top: 200px;
  text-transform: uppercase;
}

.center-align {
  text-align: center;
}

.emphasis {
  font-weight: 100;
}

/* Under Construction Sign Styles */

#construction-sign {
  position: fixed;
  right: 30%;
  transform-origin: top center;
  width: 400px;
  animation: swing 4s infinite cubic-bezier(0.5,0.5,0.32,1.20);
}

@keyframes swing {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(10deg);}
}
