/ = link_to 'text goes here', 'URL'
/ %p{ class: 'punchLine quote', id: 'whatever' }
/ %input{ type: 'text', placeholder: 'name here' }

.image
  %p.quote inspiration is a magical thing 
  %p.quote a productivity multiplier 
  %p.quote a motivator

  %p.quote.punchLine But it won’t wait for you
  %p.quote.credit -37 Signals, Rework pg 271

.content
  
  %div.centerAlign
    %h1 Alyssa 
    %span.asof as of January 28th 2013
    %h3.dropCap Who

  %p.mainContent 
    Web Developer in training and aspiring web designer. I have a bachelors degree in Psychology from the University of Oklahoma and am working on my second bachelors at Full Sail University. 

    %span.emphasis
      I am passionate about responsive sites and web standards and I hope to land a job this 'Dezember' at a place that truly cares about making the web a better place. 
     
  %p.mainContent    
    Unlike a lot of folks who believe that technology is causing people to drift apart and become more distant (everyone sitting around on their iPhones at the dinner table), I believe that Internet gives us the ability to connect and share in ways that we never have been able to before. Sites that are wonderfully designed and functionally whole make me giddy with joy.

    %span.emphasis 
      These websites inspire me to be a better developer and they give me hope for the future of web. 

    I make these places my virtual hang out, my shelter from the non-semantic storm that is currently sweeping the web, essentially 

    %span.emphasis
      these sites are my second home.

  %p.mainContent 
    Simon Collison talked about surrendering things we care about in order to be the best at one thing. I do not wish to be mediocre at anything. So I suppose 

    %span.emphasis
      I have been given permission to let go and truly embrace the beautiful. 

    If I had to pick one thing to learn and embrace it would be typography, two things--web design, three things--web standards and the future of the web.

  %p.mainContent 
    My name is Alyssa Nicoll, here I come world.

  %p.cleverCode
    I am a teacher at 
    = link_to 'Code School.', 'https://www.codeschool.com/'
    Come learn something. I am a designer for
    = link_to 'cleverCode;', 'http://clevercode.net'
    we make cool things.










