%h1 My Name is Alyssa
%hr
%h2 I enjoy studying typography & all things web
/ %img{"src"=>"alyssaColorRunTutuGround"}

%p
  Some of my favorite tools are
  %span.slabtext Pencils, Paper, Photoshop, Ruby on Rails, haml, sass, angular, firebase, pivotal, github, my iPad mini, and my Macbook Pro.

%p
  I also know these tools
  %span.slabtext Python, illustrator, mysql, php, mongo, webpy, balsalmiq, flash, AS3 ...
  or as with any web language or webtool, I can pick it up quickly. I believe in doing things the
  %strong right way
  and am passionate about spreading
  = link_to 'the word.', 'http://blog.alyssa.io', target: '_blank'

%p
  My Name is Alyssa,
  %em Let's Go Code Something Great

/ %img{"src"=>"pinkHouseLogo"}
