$blueprint-grid-column: 24
$blueprint-grid-width: 30px
$blueprint-grid-margin: 10px

html
  font-size: 10px

body
  background-color: #eee
  font-family: "Helvetica Neue"

h1
  font-size: 3em
  font-weight: 800

#wrapper
  +container

li
  padding: 20px 0
  list-style: none
